RewriteEngine On

# 2 things, to run subsequently:
# - redirect externally "/" to "/commandes-cuisine"
# - redirect internally "/something" to "/index.php?route=/something"
# -> keep everything else the same

# if attempting to access "/", redirect to "/commandes-cuisine" (visible)
RewriteRule "^$" "/accueil" [R]

# if attempting to access "/something/something-else", redirect to "/index.php?route=/something/something-else" (hidden)
# keep the original request parameters
RewriteRule "^([a-zA-Z\d/-]+)$" "/index.php?route=/$1" [PT,QSA]
